@base-projects:registry=https://gitlab.enouvo.com/api/v4/projects/227/packages/npm/
//gitlab.enouvo.com/api/v4/projects/227/packages/npm/:_authToken=moppFLUZMZ3ETSG_9Mwp

@enouvo-packages:registry=https://gitlab.enouvo.com/api/v4/packages/npm/
//gitlab.enouvo.com/api/v4/packages/npm/:_authToken=LtJnn4uNT4MD3PyPXMnS
//gitlab.enouvo.com/api/v4/projects/343/packages/npm/:_authToken=LtJnn4uNT4MD3PyPXMnS
